<% include ../header %>
	<h1>Posts</h1>
<ul>
	<% for (var i=0; i<posts.length; i++){ %>
	<li>
	  <h2><a href="/posts/<%= i %>"><%= posts[i].title %></a></h2>
  	  <h3><%= posts[i].body %></h3>
      <form method="post" action="/posts/<%= i %>">
  	    <input type="submit" value="del">
  	    <input type="hidden" name="id" value="<%= i %>">
  	    <% /* _methodでdeleteを定義する */ %>
        <input type="hidden" name="_method" value="delete">
      </form>
	  <a href="/posts/<%= i %>/edit">編集</a>
	</li>
    <% } %>
</ul>

<p><a href="/posts/new">新規追加</a></p>

<% include ../footer %>